/*global*/
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

text-shadow(x,y,d,c)
  text-shadow x y d c
  /*text-shadow: 1px 1px 3px #888;*/

/*main*/
body
  font-family 'Ubuntu', sans-serif
  font-weight 400
  padding-top 60px
  padding-bottom 40px
  background url('../img/furley_bg.png') repeat

.modal-body
  img
    border-radius(20px)

#mc_embed_signup
  margin-top 20px
  label
    font-weight 500


.container
  background #fff
  padding 20px

.landing
  background none

.order-success
  border-radius(5px)
  border 1px solid #e5e5e5
  background #fff
  padding 20px

#logo
  font-weight 500
  img
    position relative
    top -5px
    width 40px

.shirts
  .shirt
    img
      margin-bottom 20px
      border-radius(20px)
      max-width 100%

.credits
  img
    position relative
    top -5px
    width 130px
  img:first-child
    width 160px